/* Register Page Styling */

.register-container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
                url('https://images.unsplash.com/photo-1554284126-aa88f22d8b74');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-box {
    background: white;
    padding: 35px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    text-align: center;
}

.register-box select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.register-btn {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #ff3c00;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.register-btn:hover {
    background-color: #e63200;
}